In [1]:
import pandas
dataset=pandas.read_csv('../data\בדיקה-tst exam-תגובות.csv')

In [2]:
dataset

,שם משפחה,שם פרטי,"דוא""ל",מצב,התחיל ב:,הושלם,משך הזמן שלקח לענות,ציון/10.00,תגובות 1,תגובות 2
0,דיקה,ב,hadarradah@gmail.com,הסתיים,09/09/20 14:02,09/09/20 14:03,12 שניות,10,khglkjblkjgljhg,asdasd
1,sa,asd,some_mail,הסתיים,09/09/20 14:02,09/09/20 14:03,12 שניות,10,sdfsdfa,asdasd

In [3]:
colNames = dataset.columns[dataset.columns.str.contains(pat = 'תגובות') | dataset.columns.str.contains(pat = 'דוא"ל')]

In [4]:
colNames

Index(['דוא"ל', 'תגובות 1', 'תגובות 2'], dtype='object')

In [5]:
dataset[colNames]

                  דוא"ל         תגובות 1 תגובות 2
0  hadarradah@gmail.com  khglkjblkjgljhg   asdasd
1             some_mail          sdfsdfa   asdasd

In [8]:
df = pandas.DataFrame(columns = colNames) 
for i, row in dataset[colNames].iterrows():
     for j, row_2 in dataset[colNames].iterrows():
            if row[0]!=row_2[0] and j>i:
                new_row = []
                new_row.append(row[0]+' '+row_2[0])
                for k in range(1,len(row)):
                    
                    new_row.append(str_compare(row[k],row_2[k]))
                df = df.append(pandas.Series(new_row, index=colNames ), ignore_index=True)
df

                            דוא"ל  תגובות 1  תגובות 2
0  hadarradah@gmail.com some_mail       0.0       1.0

In [7]:
from nltk.tokenize import word_tokenize

def str_compare(X,Y):
    X_list = word_tokenize(X)
    Y_list = word_tokenize(Y)

    # sw contains the list of stopwords
    #sw = stopwords.words('english')
    l1 = []
    l2 = []

    # remove stop words from the string
    X_set = {w for w in X_list}
    Y_set = {w for w in Y_list}

    # form a set containing keywords of both strings
    rvector = X_set.union(Y_set)

    for w in rvector:
        if w in X_set:
            l1.append(1)  # create a vector
        else:
            l1.append(0)
        if w in Y_set:
            l2.append(1)
        else:
            l2.append(0)
    c = 0

    # cosine formula
    for i in range(len(rvector)):
        c += l1[i]*l2[i]
    cosine = c / float((sum(l1)*sum(l2))**0.5)
    return cosine

In [11]:
df['mean'] = df.mean(axis = 1)

In [12]:
df

                            דוא"ל  תגובות 1  תגובות 2  mean
0  hadarradah@gmail.com some_mail       0.0       1.0   0.5